/* Base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header a {
  color: #fff;
  text-decoration: none;
}

/* Search styles */
.search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
}

.search h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.search-form input[type="text"] {
  width: 80%;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form button {
  width: 15%;
  background-color: #00a8ff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

/* Nutrition styles */
.nutrition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nutrition h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.nutrition label {
  font-size: 18px;
  margin-right: 20px;
}

.nutrition input[type="range"] {
  width: 70%;
  margin-right: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
