{% extends 'recipe/base.html' %}

{% block content %}
            <h1>Recommended for you</h1>

<div class="recipe-cards-container">

            {% for recipe in recipes %}

            <div class="recipe-card" onclick="location.href='{% url 'show-recipe' recipe.id %}';" style="cursor: pointer;">
              <div class="image-container">
                   <img src="{{ recipe.image }}" alt="image_not_found">
                    <p>{{ recipe.image }}</p>
                </div>
              <h3>{{ recipe.title }}</h3>
              <p>{{ recipe.tag }}</p>
            <p>{{ recipe.nutrition }}</p>

            </div>
            {% endfor %}
        </div>


{% endblock %}

