
<form class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" id="q-form" method="post" action="{% url 'search-results' %}">
      {#    href not implemented#}
      {% csrf_token %}
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'home' %}"> Home</a>
      {#    button not implemented#}
{#      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
      {#    Search bar not implemented#}
     <input class="form-control form-control-dark w-100 rounded-0 border-0" name="q" id="search-input" placeholder="Search" aria-label="Search">
    <a class="col-lg-1 fs-6" href="{% url 'home' %}">Nutrition Filter?</a>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="filter" value="filter">
  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="energy" id="search-input" placeholder="Energy" aria-label="energy">
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="fat" id="search-input" placeholder="Fat" aria-label="fat">
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="protein" id="search-input" placeholder="Protein" aria-label="protein">
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="salts" id="search-input" placeholder="Salts" aria-label="salts">
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="saturates" id="search-input" placeholder="Saturates" aria-label="saturates">
     <input class="form-control form-control-dark w-50 rounded-0 border-0" name="sugars" id="search-input" placeholder="Sugars" aria-label="sugars">
      {#    Search button not implemented#}
     <div class="navbar-nav">
          <div class="nav-item text-nowrap">
              <a class="nav-link px-3" href="{% url 'search-results' %}" onclick="submitResponse(this.href);return false;" id="search-icon"> Search</a>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
              <script>
                  var submitResponse = function(url) {
                  var form = document.getElementById('q-form');
                  form.action = url;
                  form.submit();
                };
              </script>
          </div>
      </div>
  </form>

